<body>
    <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Lanka Ads</a>
    &nbsp;&nbsp;
    <span class="top-fb">
    <a class="btn btn-sm btn-info" href="/postAd.php">Post Your Ad</a>
    </span>
    </div>
    <div id="navbar" class="navbar-collapse collapse show" style="">
    <form class="navbar-form navbar-right form-inline" action="/search.php" method="get">
    <div class="form-group">
    <input type="text" placeholder="search ads" class="form-control" name="q" value="">
    <button type="submit" class="btn btn-info">Search</button>
    <span></span>
    <a href="/search.php?fav=1" title="Favourits"><i class="fa fa-heart top" style="color:#aa0212; font-size:20px;"></i></a>
    </div>
    </form>
    <div class="list-group-top">
    <a href="/Automobiles/" title="Automobiles ads" class="list-group-item"><i class="fa fa-fw fa-Automobiles" aria-hidden="true"></i> Automobiles (1)</a>
    <a href="/Business/" title="Business ads" class="list-group-item"><i class="fa fa-fw fa-Business" aria-hidden="true"></i> Business (79)</a>
    <a href="/Electronics/" title="Electronics ads" class="list-group-item"><i class="fa fa-fw fa-Electronics" aria-hidden="true"></i> Electronics (0)</a>
    <a href="/Employment/" title="Employment ads" class="list-group-item"><i class="fa fa-fw fa-Employment" aria-hidden="true"></i> Employment (23)</a>
    <a href="/General/" title="General ads" class="list-group-item"><i class="fa fa-fw fa-General" aria-hidden="true"></i> General (38)</a>
    <a href="/Mobile/" title="Mobile ads" class="list-group-item"><i class="fa fa-fw fa-Mobile" aria-hidden="true"></i> Mobile (117)</a>
    <a href="/Computer/" title="Computer ads" class="list-group-item"><i class="fa fa-fw fa-Computer" aria-hidden="true"></i> Computer (9)</a>
    <a href="/Personal/" title="Personal ads" class="list-group-item"><i class="fa fa-fw fa-Personal" aria-hidden="true"></i> Personal (4668)</a>
    <a href="/Real_Estate/" title="Real Estate ads" class="list-group-item"><i class="fa fa-fw fa-Real Estate" aria-hidden="true"></i> Real Estate (0)</a>
    <a href="/Marriage_Proposals/" title="Marriage Proposals ads" class="list-group-item"><i class="fa fa-fw fa-Marriage Proposals" aria-hidden="true"></i> Marriage Proposals (10)</a>
    <a href="/Massage/" title="Massage ads" class="list-group-item"><i class="fa fa-fw fa-Massage" aria-hidden="true"></i> Massage (663)</a>
    <a href="/search.php?fav=1" class="list-group-item"><i class="fa fa-fw fa-star" aria-hidden="true"></i> Favourits (0)</a>
    </div>
    </div>
    </div>
    </nav>
    <div class="jumbotron">
    <div class="container">
    <a href="/"><img src="/images/logo.png" alt="Lanka Ads Logo" class="logo"></a>
    <p>Welcome to best &amp; fastest Sri Lankan Ad website. Advertise your products and services with us quickly. No Registration/Sign up, Immediate approval without any restrictions.</p>
    <p>
    We are the fastest growing online Ad network in Sri Lanka. The most popular site between young &amp; adults.
    <a class="btn btn-info" href="/postAd.php">Post Your Ad</a> on our site and see amazing results.
    </p>
    </div>
    </div>
    <div class="container">
    <div class="row content">
    <div class="col-md-2 sidenav">
    <div class="list-group">
    <a href="/Automobiles/" title="Automobiles ads" class="list-group-item"><i class="fa fa-fw fa-Automobiles" aria-hidden="true"></i>Automobiles (1)</a>
    <a href="/Business/" title="Business ads" class="list-group-item"><i class="fa fa-fw fa-Business" aria-hidden="true"></i>Business (79)</a>
    <a href="/Electronics/" title="Electronics ads" class="list-group-item"><i class="fa fa-fw fa-Electronics" aria-hidden="true"></i>Electronics (0)</a>
    <a href="/Employment/" title="Employment ads" class="list-group-item"><i class="fa fa-fw fa-Employment" aria-hidden="true"></i>Employment (23)</a>
    <a href="/General/" title="General ads" class="list-group-item"><i class="fa fa-fw fa-General" aria-hidden="true"></i>General (38)</a>
    <a href="/Mobile/" title="Mobile ads" class="list-group-item"><i class="fa fa-fw fa-Mobile" aria-hidden="true"></i>Mobile (117)</a>
    <a href="/Computer/" title="Computer ads" class="list-group-item"><i class="fa fa-fw fa-Computer" aria-hidden="true"></i>Computer (9)</a>
    <a href="/Personal/" title="Personal ads" class="list-group-item"><i class="fa fa-fw fa-Personal" aria-hidden="true"></i>Personal (4668)</a>
    <a href="/Real_Estate/" title="Real Estate ads" class="list-group-item"><i class="fa fa-fw fa-Real Estate" aria-hidden="true"></i>Real Estate (0)</a>
    <a href="/Marriage_Proposals/" title="Marriage Proposals ads" class="list-group-item"><i class="fa fa-fw fa-Marriage Proposals" aria-hidden="true"></i>Marriage Proposals (10)</a>
    <a href="/Massage/" title="Massage ads" class="list-group-item"><i class="fa fa-fw fa-Massage" aria-hidden="true"></i>Massage (663)</a>
    <a href="/search.php?fav=1" class="list-group-item"><i class="fa fa-fw fa-star" aria-hidden="true"></i> Favourits (0)</a>
    <div align="center" class="left-add">
    </div>
    </div>
    </div>
    <div class="col-md-10 ad-count">
    <div class="col-md-12">
    <h3> Live Ads &nbsp;(5609)</h3>
    </div>
    <div class="col-md-10 rounded-div super">
    <div class="label-special verified" data-id="87072">
    <i class="fa fa-heart-o"></i>
    </div>
    <div class="label-special super"><i class="fa fa-star"></i> Super Ad</div>
    <a href="/ad/Fake-Accounts----ව්&zwj;යාජ-ගිණුම්/87072">
    <h3>Fake Accounts - ව්&zwj;යාජ ගිණුම්</h3>
    </a>
    <a href="/ad/Fake-Accounts----ව්&zwj;යාජ-ගිණුම්/87072">
    <img src="/images/user/88000/100/87072_thumb.jpg" alt="picture of Business - IT Solutions/Services" class="img-thumbnail">
    </a>
    <p>We have noticed that there are Fake Facebook accounts and WhatsApp/Viber accounts under our name and logo. If a person claims to be an admin on our website and contact you, consider it a fake. Please note that we will not contact you at any time. You know what to do to fraudulent people.
    You can contact us via LankaAdsCom@gmail.com or form our contact page chat.
    https://lanka-ads.com/contact.php
    අපගේ නම සහ ලාංඡනය යටතේ ව්&zwj;යාජ ෆේස්බුක් ගිණුම් සහ වට්ස්ඇප් / වයිබර් ගිණුම්...
    <br>
    <span class="adtime">3 days ago</span>
    </p></div>
    <div class="col-md-5 rounded-div">
    <div class="label-special verified" data-id="87351">
    <i class="fa fa-heart-o"></i>
    </div>
    <a href="/ad/full-service-and-body-massage/87351">
    <h3>Full service and body massage</h3>
    </a>
    <a href="/ad/full-service-and-body-massage/87351">
    <img src="/images/user/88000/400/87351_thumb.jpg" alt="picture of Massage - Full Body Massage" class="img-thumbnail">
    </a>
    <p>sir we are rithu and roshel. We are doing full service &amp; body massage. We have our private place (very sefty place ) inside parking available....
    <br>
    <span class="adtime">1 minute ago</span>
    </p></div>
    <div class="col-md-5 rounded-div">
    <div class="label-special verified" data-id="87350">
    <i class="fa fa-heart-o"></i>
    </div>
    <a href="/ad/REAL-BODY-MASSAGE-WITH-HAPPY-ENDING-💋/87350">
    <h3>REAL BODY MASSAGE WITH HAPPY ENDING 💋</h3>
    </a>
    <a href="/ad/REAL-BODY-MASSAGE-WITH-HAPPY-ENDING-💋/87350">
    <img src="/images/user/88000/400/87350_thumb.jpg" alt="picture of Personal - Antiques/Collectors items" class="img-thumbnail">
    </a>
    <p>Hi guys im roshini ( 25 years ) im a massage therapist from dehiwala i do real body massage with orginal spa ceylon products with happy ending ,...
    <br>
    <span class="adtime">7 minutes ago</span>
    </p></div>
    <div class="col-md-5 rounded-div">
    <div class="label-special verified" data-id="87349">
    <i class="fa fa-heart-o"></i>
    </div>
    <a href="/ad/❤Pannipitiya-5000/=Full-service❤0762865004/87349">
    <h3>❤Pannipitiya 5000/=Full service❤0762865004</h3>
    </a>
    <a href="/ad/❤Pannipitiya-5000/=Full-service❤0762865004/87349">
    <img src="/images/user/80000/500/79457_thumb.jpg" alt="picture of Personal - Hotel/Gest Houses" class="img-thumbnail">
    </a>
    <p>Hi Guys... ...I'm Anu.I'm 28 years hot girl.
    I do full service
    Rs.5000 - one hour one shot(with room)
    Rs.8000 - 2 hrs 2shot(with room)
    If you...
    <br>
    <span class="adtime">8 minutes ago</span>
    </p></div>
    <div class="col-md-5 rounded-div">
    <div class="label-special verified" data-id="87348">
    <i class="fa fa-heart-o"></i>
    </div>
    <a href="/ad/👧🥀Full-service-💋Shachini🥀👧/87348">
    <h3>👧🥀Full service 💋Shachini🥀👧</h3>
    </a>
    <a href="/ad/👧🥀Full-service-💋Shachini🥀👧/87348">
    <img src="/images/user/88000/200/87137_thumb.jpg" alt="picture of Personal - Hotel/Gest Houses" class="img-thumbnail">
    </a>
    <p>👩&zwj;🎤Today I'm available
    🥀My age 21 old.. 💋💋This is my real photo.📷📷.
    🥀I'm doing full service.🌷🌷🌷💘
    👉Rs....
    <br>
    <span class="adtime">8 minutes ago</span>
    </p></div>
    <div class="col-md-5 rounded-div">
    <div class="label-special verified" data-id="87347">
    <i class="fa fa-heart-o"></i>
    </div>
    <a href="/ad/Only-Girls-Ladies-..-Enjoy-With-me/87347">
    <h3>Only Girls Ladies .. Enjoy With me</h3>
    </a>
    <a href="/ad/Only-Girls-Ladies-..-Enjoy-With-me/87347">
    <img src="/images/user/88000/400/87347_thumb.jpg" alt="picture of Personal - Hotel/Gest Houses" class="img-thumbnail">
    </a>
    <p>රජය විසින් ලබා දී තිබෙන්නා වූ සෞඛ්&zwj;යාරක්ෂිත ක්&zwj;රම...
    <br>
    <span class="adtime">12 minutes ago</span>
    </p></div>
    <div class="col-md-5 rounded-div">
    <div class="label-special verified" data-id="87346">
    <i class="fa fa-heart-o"></i>
    </div>
    <a href="/ad/කාන්තාවන්-වෙනුවෙන්/87346">
    <h3>කාන්තාවන් වෙනුවෙන්</h3>
    </a>
    <a href="/ad/කාන්තාවන්-වෙනුවෙන්/87346">
    <img src="/images/user/88000/400/87346_thumb.jpg" alt="picture of Personal - Friends" class="img-thumbnail">
    </a>
    <p>කාන්තාවක් සඳහා රහසිගත ඇසුරකට ආරාධනා 😎😎😎
    කාන්තාවක්...
    <br>
    <span class="adtime">12 minutes ago</span>
    </p></div>
    <div class="col-md-5 rounded-div">
    <div class="label-special verified" data-id="87345">
    <i class="fa fa-heart-o"></i>
    </div>
    <a href="/ad/Full-Body-Massages-ONLY-LADIES/87345">
    <h3>Full Body Massages ONLY LADIES</h3>
    </a>
    <a href="/ad/Full-Body-Massages-ONLY-LADIES/87345">
    <img src="/images/user/88000/400/87345_thumb.jpg" alt="picture of Personal - Beauty Therapy/Hair Dressing" class="img-thumbnail">
    </a>
    <p>Full Body Massages ONLY LADIES
    Hi Ladies &amp; Girls, Aunt is
    I'm KRISH
    I'm 33 year's Old
    I do full body massages and Full Service for Ladies...
    <br>
    <span class="adtime">14 minutes ago</span>
    </p></div>
    <div class="col-md-5 rounded-div">
    <div class="label-special verified" data-id="87344">
    <i class="fa fa-heart-o"></i>
    </div>
    <a href="/ad/Kottawa-/-Homagama/87344">
    <h3>Kottawa / Homagama</h3>
    </a>
    <p>💋💋HELLO...🌷🌸🌺☀
    💃I am Balisha👩
    💃32 years old ( 100% my real age )
    💃 real photo attached✔️🙋❤💋
    💃superb body Hot..Clean &amp; sexy💯✔️
    💃I have good &amp; Safe location🚪
    💃Parking Available 🚘🚘💝
    💃This Is My Real...
    <br>
    <span class="adtime">14 minutes ago</span>
    </p></div>
    <div class="col-md-5 rounded-div">
    <div class="label-special verified" data-id="87343">
    <i class="fa fa-heart-o"></i>
    </div>
    <a href="/ad/Seeduwa-,-Katunayaka-Full-Service/87343">
    <h3>Seeduwa , Katunayaka Full Service</h3>
    </a>
    <a href="/ad/Seeduwa-,-Katunayaka-Full-Service/87343">
    <img src="/images/user/88000/400/87343_thumb.jpg" alt="picture of Business - Business Opertunites" class="img-thumbnail">
    </a>
    <p>Hi&nbsp;
    I am MAYA
    Age of 32 years
    Very clean and friendly girl
    Very sexy nice feeling girl
    This is my real pic
    I do full service at,SEEDUWA /...
    <br>
    <span class="adtime">15 minutes ago</span>
    </p></div>
    <div class="col-md-5 rounded-div">
    <div class="label-special verified" data-id="87342">
    <i class="fa fa-heart-o"></i>
    </div>
    <a href="/ad/Tharu-from-kotte/87342">
    <h3>Tharu from kotte</h3>
    </a>
    <a href="/ad/Tharu-from-kotte/87342">
    <img src="/images/user/87000/900/86892_thumb.jpg" alt="picture of Personal - Friends" class="img-thumbnail">
    </a>
    <p>Hi guys i am Tharu.
    My age 27.
    This is Real Photos.
    I am Friendly girl.
    please come and enjoy with me.
    per hour 4000
    075-3675767
    <br>
    <span class="adtime">17 minutes ago</span>
    </p></div>
    <div class="col-md-10 rounded-div" style="border-color: #f00;height: auto; min-height: 0">
    <div class="alert alert-danger" role="alert" style="margin-bottom:0">
    Please be very careful about payments (Bank, Mobile, etc). Do a video call or get identity details before transfer money.&nbsp;
    We only provide online advertising.<br> <b>We are not responsible for your transactions.</b>&nbsp;<br>
    කරුණාකර ගෙවීම් (බැංකු, ජංගම, ආදිය) ගැන ඉතා සැලකිලිමත් වන්න. මුදල් මාරු කිරීමට පෙර වීඩියෝ ඇමතුමක් හෝ අනන්&zwj;යතා තොරතුරු ලබා ගන්න.
    අපි සපයන්නේ මාර්ගගත වෙළඳ දැන්වීම් පමණි.<br> <b>ඔබේ ගනුදෙනු සඳහා අපි වගකිව යුතු නොවේ.</b>
    </div>
    </div>
    </div>
    </div>
    <br>
    <ul class="pager">
    <li><a href="?page=1"> Next 10 &gt; </a></li>
    </ul>
    <hr>
    </div>
    <footer class="col-md-8 col-md-offset-2">
    <p style="float:right">© 2020 Global Ads LLC</p>
    <p class="footer-links">
    <a href="/">Home</a>
    <a href="/postAd.php">Post Ad</a>
    <a href="/terms.php">Terms &amp; Conditions</a>
    <a href="/privacy-policy.php">Privacy Policy</a>
    <a href="/FAQ.php">FAQ</a>
    <a href="/contact.php">Contact</a>
    </p>
    </footer>
    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/favourite.js"></script>
    
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-2923101-5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-2923101-5');
    </script>
    
    </body>